@import './base.css';

#app {

  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: rgb(209, 39, 39);
  transition: 0.4s;
  padding: 6px;
  text-align: center;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 82%, 17%, 0.2);
  }
}

